@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    /* padding, margin do not be affect */
    box-sizing: border-box;
}

body {
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.title-container h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
}

h1 span {
    font-size: 40px;
    margin-left: 40px;
}

.message {
    background-color: #F4B400;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
}

.word1,
.word2,
.word3 {
    font-family: tahoma;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }

    5% {
        width: 0;
    }

    15% {
        width: 230px;
    }

    30% {
        top: 0.2rem;
        width: 230px;
    }

    33% {
        top: 0.2rem;
        width: 0;
    }

    35% {
        top: 0.2rem;
        width: 0;
    }

    38% {
        top: -4.5rem;

    }

    48% {
        top: -4.5rem;
        width: 290px;
    }

    62% {
        top: -4.5rem;
        width: 290px;
    }

    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }

    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    86% {
        top: -9rem;
        width: 285px;
    }

    95% {
        top: -9rem;
        width: 285px;
    }

    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }

    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}


.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    /* biến nó thành đối tượng không phụ thuộc và muốn dịch đi đâu tùy ý */
    transition: flex 0.7s ease-in;

}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;

}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.button-wrapper {
    align-items: center;
    justify-content: center;
}

.button-wrapper button {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 200px;
    background: #0F9D58;
    padding: 15px;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}

.button-wrapper button:focus {
    outline: 0;
}


.button-wrapper button:active {
    transform: scale(0.98);
}


@media(max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(4) {
        display: none
    }
}